body {
    background-color: rgb(0, 0, 0);
  }
.navbar {
    position: absolute;
    width: 98.5%;
    
  }

.mynavbox {
      width: 100%; 
      height: 100%;
      background-color: white;
      position: absolute;
      z-index: -1;
      opacity: 0.4;
  }
.donaldmahobele {
    font-weight: bolder;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    
}

.mycover {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -2;
    
}

.myskillscont {
    margin-top: 50px;
}

.mydownload {
    margin-top: 50px;
}

.myjumbo {
    margin-top: 50px;
    border-top: 1px solid white;
}

.myfootertext {
    margin-top: 20px;
    font-weight: bold;
}